<% include ../partials/header %>
<!-- <div class="four wide column">
    <div class="ui card">
        <div class="image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Add Friend</div>
                    </div>
                </div>
            </div>
            <img src="<%= user.avatar %>">
        </div>
        <div class="content">
            <div class="header"><%= user.username %></div>
            <div class="meta">
                <a class="group">
                    <% if (user.isAdmin) { %>
                    admin
                    <% } else {%>
                    happy camper
                    <% } %>
                </a>
            </div>
            <div class="description"><%= user.description %></div>
        </div>
        <div class="extra content">
            <a class="right floated created">Arbitrary</a>
            <a class="friends">
                Arbitrary</a>
        </div>
    </div>
</div> -->


<div class="ui segment left floated">
    <img class="ui small image" src="<%= user.avatar %>">
    <div class="image"></div>
    <div class="header"><%= user.username %></div>
    <div class="meta">
        <a class="group">
            <% if (user.isAdmin) { %>
            admin
            <% } else {%>
            happy camper
            <% } %>
        </a>
    </div>
</div>

<div class="ui grid container">
        <div class="row">
            <% if (user.campgrounds.length == 0) { %>
            <h4 class="ui header">No campgrounds</h4>
            <% } else { %>
            <h2 class="ui  header ">Campgrounds</h2>
        </div>
        <div class="row">
            <div class="ui stackable cards grid">
                <% for (const campground of user.campgrounds) { %>
                <a href="/campgrounds/<%= campground._id %>">
                    <div class="ui raised link card">
                        <div class="image">
                            <img class="ui image" src="<%= campground.image %>">
                        </div>
                        <div class="content">
                            <div class="header "><%= campground.name %>
                            </div>
                                <span class="meta right floated">
                                        <%= campground.location %>
                                    </span>
                            <div class="meta">
                                $<%= campground.price %>/night
                            </div>
                            <div class="description">
                                <%= campground.description %>
                            </div>
                        </div>
                    </div>
                </a>
                <% } %>
            </div>
        </div>
        <% } %>
</div>

    <div class="ui grid container">
        <div class="ui comments">
            <% if (user.comments.length == 0 ) { %>
            <h4 class="ui header">No comments</h4>
            <% } else { %>
            <h3 class="ui dividing header">Comments</h3>
            <% for (const campground of sortedComments) { %>
            <div class="comment">
                <a class="avatar">
                    <img src="<%= campground.image %>">
                </a>
                <div class="content">
                    <a class="author" href='/campgrounds/<%= campground.id %>'>
                        <%= campground.name %>
                    </a>
                </div>
                <% for (const comment of campground.comments) { %>
                <div class="content">
                    <div class="metadata">
                        <span class="date">
                            <%= comment.createdAt %>
                        </span>
                    </div>
                    <div class="text">
                        <%= comment.text %>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>


<% include ../partials/footer %>