<% include ../partials/header %>
<div class="four wide column">
    <div class="ui card">
        <div class="image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui inverted button">Add Friend</div>
                    </div>
                </div>
            </div>
            <img src="<%= user.avatar %>">
        </div>
        <div class="content">
            <div class="header"><%= user.username %></div>
            <div class="meta">
                <a class="group">
                    <% if (user.isAdmin) { %>
                    admin
                    <% } else {%>
                    happy camper
                    <% } %>
                </a>
            </div>
            <div class="description"><%= user.description %></div>
        </div>
        <div class="extra content">
            <a class="right floated created">Arbitrary</a>
            <a class="friends">
                Arbitrary</a>
        </div>
    </div>
</div>

<div class="twelve wide column">
    <div class="ui twelve column grid">

        <div class="row">
            <h2 class="ui  header ">Campgrounds</h2>
        </div>
        <div class="row">
            <div class='ui four stackable cards'>
                <% if (campgrounds) { %>
                <% for (const campground of campgrounds) {%>
                <a href="/campgrounds/<%= campground._id %>">
                    <div class="ui raised link card">
                        <div class="image">
                            <img class="ui image" src="<%= campground.image %>">
                        </div>
                        <div class="content">
                            <div class="header"><%= campground.name %></div>
                            <div class="meta">
                                $<%= campground.price %>/night
                            </div>
                            <div class="description">
                                <%= campground.description %>
                            </div>
                        </div>
                        <div class="extra content">
                            <span class="right floated">
                                <%= campground.location %>
                            </span>
                        </div>
                    </div>
                </a>
                <% } %>
                <% } %>
            </div>
        </div>

        <div class="row">
            <% if (comments ) { %>
            <div class="ui comments">
                <h3 class="ui dividing header">Comments</h3>
                <% for (const comment of comments) { %>
                <div class="comment">
                    <a class="avatar">
                        <img src="<%= comment.campground.image %>">
                    </a>
                    <div class="content">
                        <a class="author">
                            <%= comment.campground.name %>
                        </a>
                        <div class="metadata">
                            <span class="date">
                                <%= comment.createdAt %>
                            </span>
                        </div>
                        <div class="text">
                            <%= comment.text %>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</div>

<% include ../partials/footer %>